@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #ffffff;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 300;
}

@media (max-width: 1200px) {
  body {
    font-size: 20px;
  }
}

@media (max-width: 850px) {
  body {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 16px;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, fieldset {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1480px;
}

input, a, button {
  outline: none;
}

.arrow {
  display: block;
  position: fixed;
  bottom: 10%;
  right: 5%;
  font-size: 50px;
  color: #710707;
  cursor: pointer;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.arrow:hover {
  color: #9d8665;
}

.header {
  position: relative;
  z-index: 1000;
  background-color: #030303;
}

.header__container {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .header__container {
    height: 130px;
  }
}

@media (max-width: 850px) {
  .header__container {
    height: 110px;
  }
}

@media (max-width: 500px) {
  .header__container {
    height: 90px;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 850px) {
  .header__logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__img {
  display: block;
  width: 49px;
  height: 26px;
  background: url("../assets/svg/logo.svg"), center, no-repeat;
}

@media (max-width: 500px) {
  .header__img {
    width: 29px;
    height: 16px;
    background-size: contain;
  }
}

.header__text {
  margin-left: 25px;
  font-family: "Forum", cursive;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 5px;
  color: #ffffff;
  text-transform: uppercase;
}

@media (max-width: 850px) {
  .header__text {
    padding-top: 12px;
  }
}

@media (max-width: 500px) {
  .header__text {
    padding-top: 4px;
    font-size: 16px;
  }
}

.nav {
  width: 100%;
  max-width: 775px;
}

@media (max-width: 1200px) {
  .nav {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.nav__link {
  padding-left: 10px;
  font-weight: 200;
  letter-spacing: 2px;
}

.nav__link a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.nav__link a:hover {
  color: #9d8665;
}

.nav__link a:active {
  color: #7E6C51;
}

.nav__link:first-child {
  padding-left: 0;
}

.nav__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 142px;
  max-width: 358px;
}

@media (max-width: 1200px) {
  .nav__footer {
    margin-left: 40px;
    padding-top: 8px;
    font-size: 22px;
    letter-spacing: 2px;
  }
}

@media (max-width: 880px) {
  .nav__footer {
    margin-left: 0;
    padding-top: 0;
  }
}

@media (max-width: 850px) {
  .nav__footer {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 200;
  }
}

@media (max-width: 500px) {
  .nav__footer {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .nav__footer {
    margin-top: 20px;
  }
}

.nav__list_footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media (max-width: 850px) {
  .nav__list_footer:first-child {
    margin-left: 19px;
  }
}

.nav__link_footer {
  padding-left: 0;
  margin-bottom: 25px;
}

.nav__link_footer:last-child {
  margin-bottom: 0;
}

.section {
  padding: 75px 0;
}

@media (max-width: 1200px) {
  .section {
    padding: 60px 0;
  }
}

@media (max-width: 850px) {
  .section {
    padding: 40px 0;
  }
}

.dark-section {
  background-color: #030303;
}

.video-section {
  padding-top: 90px;
}

.section__preview {
  min-height: 810px;
  padding-top: 0;
  padding-bottom: 61px;
}

@media (max-width: 1200px) {
  .section__preview {
    min-height: 585px;
  }
}

@media (max-width: 850px) {
  .section__preview {
    padding-bottom: 0;
    height: 861px;
  }
}

@media (max-width: 715px) {
  .section__preview {
    height: 775px;
  }
}

@media (max-width: 650px) {
  .section__preview {
    height: 726px;
  }
}

@media (max-width: 600px) {
  .section__preview {
    height: 685px;
  }
}

@media (max-width: 550px) {
  .section__preview {
    height: 650px;
  }
}

@media (max-width: 500px) {
  .section__preview {
    height: 600px;
  }
}

@media (max-width: 420px) {
  .section__preview {
    height: 544px;
    min-height: 0;
  }
}

.section__welcome {
  position: relative;
  z-index: 100;
  left: 0;
  -webkit-transition: opacity .5s ease, left 1s ease-in-out;
  transition: opacity .5s ease, left 1s ease-in-out;
}

.section__welcome.active {
  opacity: 0;
  left: -100%;
}

@media (max-width: 850px) {
  .section__welcome {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .section__welcome {
    padding-top: 7px;
  }
}

@media (max-width: 850px) {
  .section__visiting {
    padding-bottom: 81px;
  }
}

@media (max-width: 500px) {
  .section__visiting {
    padding-bottom: 42px;
  }
}

.section__video {
  padding-bottom: 69px;
}

@media (max-width: 1200px) {
  .section__video {
    padding-bottom: 54px;
  }
}

@media (max-width: 850px) {
  .section__video {
    padding-bottom: 74px;
  }
}

@media (max-width: 500px) {
  .section__video {
    padding-top: 36px;
    padding-bottom: 33px;
  }
}

.section__gallery {
  padding-bottom: 0;
}

.section__tickets {
  padding-bottom: 75px;
}

@media (max-width: 1200px) {
  .section__tickets {
    padding-bottom: 59px;
  }
}

@media (max-width: 850px) {
  .section__tickets {
    padding-bottom: 40px;
  }
}

.section__contacts {
  padding-bottom: 75px;
}

@media (max-width: 1200px) {
  .section__contacts {
    padding-bottom: 62px;
  }
}

@media (max-width: 850px) {
  .section__contacts {
    padding-bottom: 67px;
  }
}

@media (max-width: 500px) {
  .section__contacts {
    padding-bottom: 40px;
  }
}

.section__inner {
  position: relative;
}

.section__title {
  font-family: "Forum", cursive;
  font-size: 80px;
  font-weight: 300;
  line-height: 90px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.section__title span {
  display: block;
}

@media (max-width: 1200px) {
  .section__title {
    font-size: 50px;
    line-height: 75px;
  }
}

@media (max-width: 850px) {
  .section__title {
    font-size: 40px;
    line-height: 60px;
  }
}

@media (max-width: 500px) {
  .section__title {
    font-size: 28px;
    line-height: 40px;
  }
}

.section__title_welcome {
  margin-bottom: 25px;
  padding-top: 149px;
  line-height: 90px;
}

@media (max-width: 1200px) {
  .section__title_welcome {
    padding-top: 50px;
  }
}

@media (max-width: 850px) {
  .section__title_welcome {
    padding-top: 0;
    line-height: 60px;
  }
}

@media (max-width: 500px) {
  .section__title_welcome {
    font-size: 28px;
    line-height: 40px;
  }
}

.section__title_gold {
  color: #9d8665;
}

.section__title_underline {
  padding-bottom: 75px;
}

.section__title_underline:after {
  content: "";
  display: block;
  margin-top: 24px;
  width: 100%;
  height: 2px;
  background-color: #710707;
}

@media (max-width: 1200px) {
  .section__title_underline {
    padding-bottom: 62px;
  }
  .section__title_underline:after {
    margin-top: 20px;
  }
}

@media (max-width: 850px) {
  .section__title_underline {
    padding-bottom: 41px;
  }
}

.section__title_gallery {
  margin-bottom: 75px;
}

@media (max-width: 1200px) {
  .section__title_gallery {
    margin-bottom: 59px;
  }
}

@media (max-width: 850px) {
  .section__title_gallery {
    margin-bottom: 40px;
  }
}

.section__subtitle {
  margin-bottom: 75px;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
}

@media (max-width: 1200px) {
  .section__subtitle {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 850px) {
  .section__subtitle {
    margin-bottom: 47px;
    font-size: 20px;
    line-height: 23px;
  }
}

@media (max-width: 500px) {
  .section__subtitle {
    font-size: 16px;
    line-height: 19px;
  }
}

.btn {
  display: inline-block;
  border: 0;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

.btn__welcome {
  font-size: 22px;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 2px;
  line-height: 25px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 26px 66px;
  background-color: #710707;
  border-radius: 10px;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.btn__welcome:hover {
  background-color: #9d8665;
}

@media (max-width: 1200px) {
  .btn__welcome {
    font-size: 20px;
    line-height: 23px;
    padding: 19px 45px;
  }
}

@media (max-width: 850px) {
  .btn__welcome {
    display: none;
  }
}

.btn__amount {
  font-size: 32px;
  padding: 0 11px;
  width: 30%;
  background-color: #ffffff;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.btn__amount:hover {
  background-color: #d6d6d6;
}

.btn__tickets {
  margin-top: 60px;
  padding: 11px 37px;
  color: #ffffff;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 2px;
  background-color: #030303;
  border-radius: 2px;
  -webkit-transition: background-color .2s linear, color .2s linear;
  transition: background-color .2s linear, color .2s linear;
}

.btn__tickets:hover {
  background-color: #9d8665;
  color: #030303;
}

.btn__tickets:active {
  background-color: #7c6a50;
}

@media (max-width: 850px) {
  .btn__tickets {
    margin-top: 40px;
  }
}

@media (max-width: 500px) {
  .btn__tickets {
    padding: 15px 49px;
    font-size: 16px;
  }
}

.btn__form_inner {
  padding: 0;
  width: 35%;
  font-size: 18px;
  color: #ffffff;
  background-color: #030303;
}

.btn__form_inner:hover {
  background-color: #4e4e4e;
}

.btn__card {
  padding: 9px 86px;
  font-size: 22px;
  color: #ffffff;
  font-weight: 400;
  line-height: 26px;
  background-color: #710707;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.btn__card:hover {
  background-color: #9d8665;
}

.btn__close {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1001;
}

.btn__close img {
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.btn__close:hover img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider__welcome {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  max-width: 1000px;
}

@media (max-width: 1200px) {
  .slider__welcome {
    max-width: 700px;
  }
}

@media (max-width: 850px) {
  .slider__welcome {
    position: static;
    margin: 0 auto;
    max-width: 728px;
  }
}

.slider__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

@media (max-width: 850px) {
  .slider__video {
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .slider__video {
    margin-top: 30px;
  }
}

.slider__line {
  overflow: hidden;
}

.slider__line:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(16.19%, rgba(0, 0, 0, 0.5)), color-stop(30.73%, rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}

@media (max-width: 850px) {
  .slider__line:before {
    display: none;
  }
}

.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.animated {
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.slider__controls {
  position: absolute;
  bottom: -60px;
  right: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 75px 0 73px;
  max-width: 600px;
  max-height: 120px;
  width: 100%;
  height: 100%;
  background-color: #030303;
}

@media (max-width: 1200px) {
  .slider__controls {
    max-width: 100%;
    padding-left: 223px;
  }
}

@media (max-width: 850px) {
  .slider__controls {
    bottom: -100px;
    max-height: 100px;
    padding: 0 163px;
  }
}

@media (max-width: 715px) {
  .slider__controls {
    bottom: -50px;
    padding: 0 80px;
  }
}

@media (max-width: 650px) {
  .slider__controls {
    max-height: 70px;
  }
}

@media (max-width: 600px) {
  .slider__controls {
    padding: 0 60px;
  }
}

@media (max-width: 500px) {
  .slider__controls {
    bottom: -76px;
    padding: 0 76px;
  }
}

@media (max-width: 401px) {
  .slider__controls {
    padding: 0 15px;
  }
}

.slider__num {
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}

@media (max-width: 850px) {
  .slider__num {
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .slider__num {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .slider__num {
    font-size: 16px;
    letter-spacing: 0;
  }
}

.slider__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__dots_welcome {
  max-width: 180px;
  width: 100%;
  margin-right: 7px;
  margin-bottom: 3px;
}

@media (max-width: 1200px) {
  .slider__dots_welcome {
    margin: 0;
    max-width: 160px;
  }
}

@media (max-width: 500px) {
  .slider__dots_welcome {
    max-width: 76px;
  }
}

.slider__dots_video {
  margin: 0 17px;
  padding-top: 1px;
}

.slider__dot {
  display: inline-block;
  cursor: pointer;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.slider__dot_welcome {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
}

.slider__dot_welcome.active {
  background-color: #D2B183;
}

.slider__dot_welcome:hover {
  background-color: #9d8665;
}

@media (max-width: 1200px) {
  .slider__dot_welcome {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 600px) {
  .slider__dot_welcome {
    width: 9px;
    height: 9px;
  }
}

@media (max-width: 500px) {
  .slider__dot_welcome {
    width: 7px;
    height: 7px;
  }
}

.slider__dot_video {
  width: 12px;
  height: 12px;
  background-color: #999;
  border-radius: 50%;
  margin-right: 20px;
}

.slider__dot_video:last-child {
  margin-right: 0;
}

.slider__dot_video:hover {
  background-color: #710707;
}

@media (max-width: 850px) {
  .slider__dot_video {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 500px) {
  .slider__dot_video {
    width: 8px;
    height: 8px;
  }
}

.tns-nav-active {
  background-color: #333;
}

.slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 80px;
  padding-bottom: 6px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 500px) {
  .slider__buttons {
    max-width: 54px;
  }
}

.slider__button {
  cursor: pointer;
  padding: 0;
  border: none;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.slider__button_welcome {
  background-color: #030303;
  color: #ffffff;
  font-size: 30px;
}

.slider__button_welcome:hover {
  color: #9d8665;
}

@media (max-width: 600px) {
  .slider__button_welcome {
    font-size: 26px;
  }
}

@media (max-width: 500px) {
  .slider__button_welcome {
    font-size: 22px;
  }
}

.slider__button_video {
  font-size: 24px;
  color: #999;
  background-color: #ffffff;
}

.slider__button_video:hover {
  color: #710707;
}

@media (max-width: 500px) {
  .slider__button_video {
    font-size: 22px;
  }
}

.visiting__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 75px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1410px) {
  .visiting__items {
    padding: 0 108px;
    gap: 61px 20px;
  }
}

@media (max-width: 970px) {
  .visiting__items {
    padding: 0 56px;
  }
}

@media (max-width: 850px) {
  .visiting__items {
    gap: 38px 20px;
  }
}

@media (max-width: 735px) {
  .visiting__items {
    padding: 0 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px 20px;
  }
}

@media (max-width: 500px) {
  .visiting__items {
    gap: 39px 20px;
  }
}

.visiting__item {
  text-decoration: none;
}

.visiting__item:hover .visiting__title:after {
  width: 100%;
}

@media (max-width: 1200px) {
  .visiting__item {
    max-width: 330px;
  }
}

@media (max-width: 850px) {
  .visiting__item {
    max-width: 280px;
  }
}

.visiting__img {
  width: 100%;
  display: block;
}

.visiting__title {
  margin-top: 25px;
  font-family: "Forum", cursive;
  color: #030303;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 35px;
}

.visiting__title:after {
  content: "";
  margin-top: 10px;
  display: block;
  width: 68%;
  height: 2px;
  background-color: #710707;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

@media (max-width: 1200px) {
  .visiting__title {
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 3px;
  }
  .visiting__title:after {
    width: 45%;
  }
}

@media (max-width: 850px) {
  .visiting__title {
    font-size: 22px;
    line-height: 24px;
  }
  .visiting__title:after {
    width: 54%;
  }
}

@media (max-width: 500px) {
  .visiting__title {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 5px;
  }
}

.visiting__subtitle {
  margin-top: 11px;
  font-size: 22px;
  color: #030303;
}

@media (max-width: 1200px) {
  .visiting__subtitle {
    font-size: 20px;
    margin-top: 9px;
  }
}

@media (max-width: 850px) {
  .visiting__subtitle {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .visiting__subtitle {
    font-size: 16px;
  }
}

.visiting__text {
  margin-top: 10px;
  color: #030303;
  font-size: 18px;
  font-weight: 200;
}

@media (max-width: 1200px) {
  .visiting__text {
    font-size: 16px;
  }
}

.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1535px) {
  .explore {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.explore__about {
  width: 50%;
  max-width: 659px;
}

@media (max-width: 1535px) {
  .explore__about {
    max-width: 100%;
    width: 100%;
    margin-bottom: 47px;
  }
}

@media (max-width: 850px) {
  .explore__about {
    margin-bottom: 0;
  }
}

.explore__text {
  margin-top: 2px;
  line-height: 38px;
}

.explore__text p {
  margin-bottom: 26px;
}

@media (max-width: 1535px) {
  .explore__text p {
    margin-bottom: 0;
  }
  .explore__text p:last-child {
    margin-bottom: 62px;
  }
}

.explore__text p span {
  color: #CAAA7D;
}

@media (max-width: 1200px) {
  .explore__text {
    margin-top: 0;
    line-height: 36px;
  }
  .explore__text p:last-child {
    display: none;
  }
}

@media (max-width: 850px) {
  .explore__text {
    display: none;
  }
}

.explore__img {
  position: relative;
  width: 50%;
}

.explore__img img {
  display: block;
  width: 100%;
  padding-top: 15px;
}

@media (max-width: 1535px) {
  .explore__img {
    width: 100%;
    max-width: 720px;
  }
}

@media (max-width: 850px) {
  .explore__img {
    height: 705px;
    max-width: 100%;
  }
  .explore__img img {
    height: 100%;
    padding-top: 0;
  }
}

@media (max-width: 750px) {
  .explore__img {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media (max-width: 500px) {
  .explore__img {
    height: 100%;
  }
  .explore__img img {
    height: 100%;
    max-height: 368px;
  }
}

.explore__slider {
  position: absolute;
  top: 0;
  left: 60%;
  z-index: 10;
  cursor: pointer;
  max-width: 39px;
  width: 100%;
  max-height: 715px;
  height: 100%;
}

@media (max-width: 1200px) {
  .explore__slider {
    left: 58.5%;
  }
}

@media (max-width: 850px) {
  .explore__slider {
    left: 58%;
  }
}

.video__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 75px;
}

@media (max-width: 1200px) {
  .video__header {
    margin-bottom: 40px;
  }
}

@media (max-width: 850px) {
  .video__header {
    margin-bottom: 20px;
  }
}

.video__text {
  max-width: 720px;
  line-height: 38px;
  color: #030303;
}

@media (max-width: 1400px) {
  .video__text {
    display: none;
  }
}

.video__player_fs {
  height: 100vh;
}

.video__main {
  position: relative;
  cursor: pointer;
}

.video__main_fs {
  height: 93%;
}

.video__stream {
  display: block;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.video__stream_fs {
  height: 100%;
}

.video__frame {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  max-width: 220px;
  width: 100%;
  height: 220px;
  background-image: url("../assets/svg/video/play.svg");
  background-color: transparent;
  border: 0;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
  .video__frame {
    width: 152px;
    height: 152px;
    background-size: contain;
  }
}

@media (max-width: 850px) {
  .video__frame {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 500px) {
  .video__frame {
    width: 50px;
    height: 50px;
  }
}

.video__coef {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 100;
  padding: 15px 50px;
  background-color: #030303;
  border-radius: 3px;
  opacity: .7;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.hidden {
  opacity: 0;
}

.video__youtube {
  margin-top: 40px;
}

@media (max-width: 850px) {
  .video__youtube {
    margin-top: 21px;
  }
}

@media (max-width: 500px) {
  .video__youtube {
    margin-top: 40px;
  }
}

.video__item {
  height: 254px;
  width: 100%;
  border: none;
}

@media (max-width: 1400px) {
  .video__item {
    height: 200px;
  }
}

@media (max-width: 1200px) {
  .video__item {
    height: 170px;
  }
}

@media (max-width: 950px) {
  .video__item {
    height: 199px;
  }
}

@media (max-width: 760px) {
  .video__item {
    height: 199px;
  }
}

@media (max-width: 500px) {
  .video__item {
    height: 101px;
  }
}

@media (max-width: 401px) {
  .video__item {
    height: 75px;
  }
}

.video__controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  width: 100%;
  height: 14vh;
  max-height: 85px;
  background-color: #030303;
}

.video__controls button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

@media (max-width: 1200px) {
  .video__controls {
    height: 11vh;
    max-height: 60px;
    padding: 0 40px;
  }
}

@media (max-width: 850px) {
  .video__controls {
    padding: 0 30px;
    max-height: 56px;
  }
}

@media (max-width: 730px) {
  .video__controls {
    padding: 0 3%;
  }
}

@media (max-width: 500px) {
  .video__controls {
    padding: 0 18px;
    max-height: 53px;
  }
}

@media (max-width: 401px) {
  .video__controls {
    padding: 0 5px;
  }
}

.video__play, .video__volume, .video__fullscreen {
  cursor: pointer;
}

.video__play {
  background-image: url("../assets/svg/video/frame.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  width: 23px;
  height: 30px;
}

@media (max-width: 850px) {
  .video__play {
    width: 23px;
    height: 29px;
  }
}

@media (max-width: 500px) {
  .video__play {
    width: 20px;
    height: 19px;
  }
}

.video__volume {
  background-image: url("../assets/svg/video/volume.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  width: 38px;
  height: 31px;
}

@media (max-width: 1200px) {
  .video__volume {
    width: 26px;
    height: 20px;
  }
}

@media (max-width: 850px) {
  .video__volume {
    width: 27px;
    height: 21px;
  }
}

@media (max-width: 500px) {
  .video__volume {
    width: 18px;
    height: 14px;
  }
}

.muted {
  background-image: url("../assets/svg/video/mute.svg");
}

@media (max-width: 1200px) {
  .video__fullscreen {
    width: 26px;
    height: 26px;
  }
  .video__fullscreen img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 850px) {
  .video__fullscreen {
    width: 27px;
    height: 27px;
  }
  .video__fullscreen img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 500px) {
  .video__fullscreen {
    width: 18px;
    height: 18px;
  }
}

.video__input {
  height: 9px;
  margin: 0;
  -webkit-appearance: none;
}

@media (max-width: 1200px) {
  .video__input {
    height: 5px;
  }
}

@media (max-width: 500px) {
  .video__input {
    height: 4px;
  }
}

.video__input::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: ew-resize;
  -webkit-appearance: none;
}

@media (max-width: 850px) {
  .video__input::-webkit-slider-thumb {
    width: 13px;
    height: 13px;
  }
}

@media (max-width: 500px) {
  .video__input::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
  }
}

.video__progress {
  max-width: 929px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#710707), color-stop(1%, #710707), color-stop(1%, #c4c4c4), to(#c4c4c4));
  background: linear-gradient(to right, #710707 0%, #710707 1%, #c4c4c4 1%, #c4c4c4 100%);
}

@media (max-width: 1200px) {
  .video__progress {
    max-width: 564px;
  }
}

@media (max-width: 850px) {
  .video__progress {
    position: absolute;
    top: -2px;
    left: 0;
    z-index: 100;
    max-width: 100%;
  }
}

.video__progress_volume {
  max-width: 155px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#710707), color-stop(43%, #710707), color-stop(43%, #c4c4c4), to(#c4c4c4));
  background: linear-gradient(to right, #710707 0%, #710707 43%, #c4c4c4 43%, #c4c4c4 100%);
}

@media (max-width: 1200px) {
  .video__progress_volume {
    max-width: 144px;
  }
}

@media (max-width: 850px) {
  .video__progress_volume {
    max-width: 486px;
  }
}

@media (max-width: 660px) {
  .video__progress_volume {
    max-width: 340px;
  }
}

@media (max-width: 500px) {
  .video__progress_volume {
    max-width: 200px;
  }
}

.gallery__container {
  max-height: 2125px;
  overflow-y: hidden;
}

@media (max-width: 1200px) {
  .gallery__container {
    max-height: 1400px;
  }
}

@media (max-width: 850px) {
  .gallery__container {
    max-height: 1180px;
  }
}

@media (max-width: 500px) {
  .gallery__container {
    max-height: 717px;
  }
}

.gallery__inner {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 36px;
          column-gap: 36px;
  max-height: 3000px;
  overflow-x: hidden;
}

.gallery__inner:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, rgba(0, 0, 0, 0)), to(#000000));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, #000000 100%);
}

@media (max-width: 850px) {
  .gallery__inner {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 24px;
            column-gap: 24px;
  }
}

.gallery__img {
  display: inline-block;
  margin-bottom: 24px;
  max-width: 456px;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.gallery__img:first-child, .gallery__img:nth-child(11) {
  margin-top: 50px;
}

@media (max-width: 850px) {
  .gallery__img {
    margin-bottom: 18px;
  }
  .gallery__img:nth-child(11) {
    margin-top: 0;
  }
}

.gallery__img.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.tickets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #030303;
}

@media (max-width: 715px) {
  .tickets {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.tickets__img {
  max-width: 720px;
  width: 100%;
  height: 550px;
  background-position: center;
  background-size: cover;
  background-image: url("../assets/img/tickets/Rectangle.webp");
}

@media (max-width: 1200px) {
  .tickets__img {
    max-width: 700px;
    height: 440px;
  }
}

@media (max-width: 850px) {
  .tickets__img {
    max-width: 444px;
    height: 340px;
  }
}

@media (max-width: 715px) {
  .tickets__img {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .tickets__img {
    height: 159px;
  }
}

.tickets__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .tickets__buy {
    width: 25%;
    margin-left: 81px;
  }
}

@media (max-width: 850px) {
  .tickets__buy {
    margin-left: 60px;
  }
}

@media (max-width: 715px) {
  .tickets__buy {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .tickets__type {
    display: none;
  }
}

.tickets__text {
  font-size: 28px;
  font-weight: 700;
}

@media (max-width: 500px) {
  .tickets__text {
    font-size: 16px;
  }
}

.tickets__text_buy {
  margin-bottom: 50px;
}

.tickets__text_amount {
  margin-bottom: 26px;
  text-align: right;
}

@media (max-width: 1200px) {
  .tickets__text_amount {
    text-align: left;
    margin-bottom: 28px;
  }
}

@media (max-width: 850px) {
  .tickets__text_amount {
    margin-bottom: 38px;
  }
}

@media (max-width: 715px) {
  .tickets__text_amount {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .tickets__text_amount {
    margin-bottom: 20px;
  }
}

.tickets__inner {
  padding-left: 59px;
}

.tickets__inner fieldset {
  border: 0;
}

.tickets__radio {
  position: relative;
  margin-bottom: 25px;
}

.tickets__radio_button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  cursor: pointer;
}

.tickets__radio_label {
  padding-left: 41px;
  cursor: pointer;
}

.tickets__radio_label:before {
  position: absolute;
  top: 4px;
  left: 0;
  z-index: 1;
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  border: 2px solid #030303;
  border-radius: 50%;
}

.tickets__radio_label:after {
  position: absolute;
  top: 9px;
  left: 5px;
  z-index: 2;
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  background-color: #030303;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.tickets__radio_button:checked + .tickets__radio_label:after {
  opacity: 1;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.amount__input {
  border: 0;
}

.amount__title {
  margin-bottom: 14px;
}

@media (max-width: 1200px) {
  .amount__title {
    margin-bottom: 10px;
    font-size: 22px;
  }
}

@media (max-width: 500px) {
  .amount__title {
    margin-bottom: 15px;
    font-size: 16px;
  }
}

.amount__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  width: 150px;
  height: 50px;
  border: 3px solid #030303;
}

@media (max-width: 1200px) {
  .amount__inner {
    width: 174px;
    margin-bottom: 29px;
  }
}

@media (max-width: 850px) {
  .amount__inner {
    margin-bottom: 25px;
  }
}

@media (max-width: 500px) {
  .amount__inner {
    margin-bottom: 20px;
  }
}

.amount__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.amount__input {
  width: 40%;
  display: inline-block;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
}

.amount__input:focus {
  outline: none;
}

.amount__total {
  margin-top: 41px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1.65px;
}

@media (max-width: 1200px) {
  .amount__total {
    width: 100%;
    margin-top: -5px;
    margin-bottom: 9px;
    text-align: left;
  }
  .amount__total span {
    padding-left: 15px;
  }
}

@media (max-width: 850px) {
  .amount__total {
    margin-top: 13px;
    margin-bottom: 0;
  }
}

@media (max-width: 500px) {
  .amount__total {
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
  }
  .amount__total span {
    padding-left: 5px;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: relative;
  right: 9px;
  z-index: 101;
  cursor: pointer;
}

.form {
  position: fixed;
  top: 50%;
  left: -50%;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  height: 845px;
  margin: 0 auto;
  padding: 91px 235px;
  visibility: hidden;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: left 1s ease-in-out, visibility 1s ease-in-out;
  transition: left 1s ease-in-out, visibility 1s ease-in-out;
}

@media (max-width: 1415px) {
  .form {
    padding: 75px 27px 30px 27px;
    height: 768px;
    max-width: 1024px;
  }
}

@media (max-width: 1000px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 590px;
    padding: 75px 30px 30px 30px;
    height: 100vh;
    overflow-y: scroll;
  }
}

.form__left {
  width: 41%;
}

@media (max-width: 1000px) {
  .form__left {
    width: 100%;
    margin-bottom: 51px;
  }
}

.form__right {
  width: 100%;
  max-width: 530px;
  height: 100%;
  padding: 27px 28px;
  border: 1px solid #030303;
}

@media (max-width: 1000px) {
  .form__right {
    padding: 27px 13px;
    height: 685px;
  }
}

@media (max-width: 500px) {
  .form__right {
    height: 885px;
  }
}

.form__logo {
  display: block;
  width: 85px;
  height: 41px;
  fill: #9d8665;
}

.form__title {
  margin-bottom: 15px;
  font-family: "Forum", cursive;
  font-size: 50px;
  color: #9d8665;
  text-transform: uppercase;
  line-height: 55px;
}

@media (max-width: 500px) {
  .form__title {
    font-size: 32px;
    line-height: 35px;
  }
}

.form__subtitle {
  font-size: 18px;
  font-weight: 400;
}

.form__subtitle:after {
  content: "";
  display: block;
  width: 100%;
  background-color: #740C11;
  opacity: .9;
}

.form__subtitle_header {
  margin-bottom: 60px;
  color: #710707;
}

.form__subtitle_header:after {
  margin-top: 10px;
  height: 3px;
}

@media (max-width: 1000px) {
  .form__subtitle_header {
    margin-bottom: 40px;
  }
}

.form__subtitle_entry {
  font-family: "Forum", cursive;
  color: #9d8665;
  text-transform: capitalize;
}

.form__subtitle_entry:after {
  margin-top: 5px;
  height: 2px;
}

.form__input, .form__select {
  position: relative;
  display: block;
  padding: 9px 0;
  padding-left: 41px;
  width: 100%;
  margin-bottom: 22px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  border: 1px solid #030303;
  background-color: #ffffff;
}

.form__input:focus, .form__select:focus {
  outline: none;
}

.form__input::-webkit-input-placeholder, .form__select::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #030303;
}

.form__input:-ms-input-placeholder, .form__select:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #030303;
}

.form__input::-ms-input-placeholder, .form__select::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #030303;
}

.form__input::placeholder, .form__select::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #030303;
}

@media (max-width: 500px) {
  .form__input, .form__select {
    margin-bottom: 20px;
    padding: 11px 0;
    padding-left: 41px;
  }
}

.form__period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 500px) {
  .form__period {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.form__date, .form__time, .form__type {
  position: relative;
}

.form__date input, .form__time input, .form__type input {
  width: 190px;
  height: 45px;
}

.form__date:before, .form__time:before, .form__type:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 100;
  display: block;
  width: 15px;
  height: 15px;
}

.form__date:after, .form__time:after, .form__type:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 100;
  display: block;
  width: 17px;
  height: 17px;
  cursor: pointer;
  background-image: url("../assets/svg/form/arrow.svg");
}

@media (max-width: 1000px) {
  .form__date input, .form__time input, .form__type input {
    width: 251px;
  }
}

@media (max-width: 570px) {
  .form__date, .form__time, .form__type {
    width: 100%;
  }
  .form__date input, .form__time input, .form__type input {
    width: 100%;
  }
}

.form__date:before {
  background-image: url("../assets/svg/form/date.svg");
}

.form__time:before {
  background-image: url("../assets/svg/form/time.svg");
}

.form__name, .form__email, .form__phone, .form__type {
  position: relative;
}

.form__name:before, .form__email:before, .form__phone:before, .form__type:before {
  content: "";
  position: absolute;
  z-index: 100;
  display: block;
}

.form__name:before {
  top: 13px;
  left: 18px;
  width: 13px;
  height: 15px;
  background-image: url("../assets/svg/form/name.svg");
}

.form__email:before {
  top: 16px;
  left: 18px;
  width: 15px;
  height: 11px;
  background-image: url("../assets/svg/form/email.svg");
}

.form__phone:before {
  top: 10px;
  left: 18px;
  width: 14px;
  height: 23px;
  background-image: url("../assets/svg/form/tel.svg");
}

.form__type:before {
  top: 14px;
  left: 18px;
  width: 15px;
  height: 15px;
  background-image: url("../assets/svg/form/ballot.svg");
}

.form__type:after {
  top: 13px;
}

.form__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form__entry {
  padding: 10px 15px 15px 15px;
  border: 1px solid #030303;
}

.form__item {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__entry_text {
  font-size: 18px;
  font-weight: 400;
  color: #030303;
}

.form__entry_inner {
  margin-bottom: 0;
  width: 105px;
  height: 25px;
  border: 1px solid #030303;
}

.form__basic_input {
  width: 30%;
  font-size: 18px;
}

@media (max-width: 500px) {
  .overview {
    height: 770px;
  }
}

.overview__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.overview__title {
  margin-bottom: 2px;
  font-size: 32px;
  font-weight: 500;
  color: #272727;
}

.overview__subtitle {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 500;
  color: #740c11;
  opacity: .9;
}

.overview__period {
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  color: #030303;
}

.overview__date, .overview__time, .overview__type {
  position: relative;
}

.overview__date:before, .overview__time:before, .overview__type:before {
  content: "";
  display: inline-block;
  margin-right: 15px;
}

.overview__date {
  margin-bottom: 5px;
}

.overview__date:before {
  width: 15px;
  height: 15px;
  background-image: url("../assets/svg/form/date.svg");
}

.overview__time {
  margin-bottom: 5px;
}

.overview__time:before {
  width: 15px;
  height: 15px;
  background-image: url("../assets/svg/form/time.svg");
}

.overview__type:before {
  width: 15px;
  height: 15px;
  background-image: url("../assets/svg/form/check_circle_outline.svg");
}

.overview__prices {
  margin-top: 22px;
}

.overview__prices:after {
  content: "";
  display: block;
  margin-top: 9px;
  width: 100%;
  height: 2px;
  background-color: #740C11;
}

.overview__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
  font-size: 22px;
  color: #030303;
  font-weight: 400;
  line-height: 26px;
}

.overview__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overview__num {
  width: 32px;
  height: 20px;
  font-size: 18px;
  color: #a4a4a3;
  line-height: 21px;
  text-align: center;
  background-color: #030303;
  border-radius: 5px;
}

.overview__spec {
  margin-left: 10px;
}

.overview__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  font-size: 32px;
  font-weight: 400;
  line-height: 37px;
  color: #030303;
}

.overview__total_amount {
  font-weight: 500;
}

@media (max-width: 401px) {
  .overview__img {
    display: none;
  }
}

.card {
  position: relative;
  height: 241px;
  margin-top: 10px;
}

@media (max-width: 500px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card__front {
  position: relative;
  z-index: 100;
  max-width: 360px;
  padding: 15px 20px;
  height: 211px;
  background-color: #BCBCBC;
  border-radius: 3px;
}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__left {
  max-width: 215px;
  width: 100%;
}

.card__right img {
  margin-top: 19px;
  display: block;
}

.card__title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 400;
  color: #161615;
  line-height: 14px;
}

.card__title:first-child {
  margin-top: 0;
}

.card__input {
  width: 100%;
  height: 36px;
  padding: 0;
  padding-left: 10px;
  border: 0.5px solid #A4A4A3;
}

.card__input:focus {
  outline: none;
}

.card__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 35px;
  height: 100%;
}

.card__date input {
  max-width: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.card__cardholder {
  margin-top: 10px;
}

.card__back {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 5;
  max-width: 360px;
  width: 100%;
  height: 211px;
  text-align: center;
  background-color: #939393;
  border-radius: 3px;
}

@media (max-width: 500px) {
  .card__back {
    position: static;
    margin-top: 25px;
  }
}

.card__strip {
  width: 100%;
  height: 45px;
  margin-top: 25px;
  background-color: #161615;
}

.card__cvc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 20px;
}

.card__cvc input {
  width: 75px;
}

.card__text {
  max-width: 55px;
  margin: 6px auto;
  text-align: left;
  font-size: 10px;
  line-height: 12px;
  color: #030303;
}

.form__btn {
  margin-top: 26px;
  text-align: right;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
  transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
}

.parallax {
  width: 100%;
  height: 400px;
  display: block;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../assets/img/parallax/parallax.webp");
}

@media (max-width: 850px) {
  .parallax {
    height: 300px;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 620px;
}

@media (max-width: 1200px) {
  .contacts {
    height: 451px;
  }
}

@media (max-width: 850px) {
  .contacts {
    display: block;
    height: 695px;
  }
}

@media (max-width: 500px) {
  .contacts {
    height: 453px;
  }
}

.contacts__title {
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: 500;
  line-height: 33px;
  color: #000;
}

.contacts__title span {
  display: block;
}

@media (max-width: 1200px) {
  .contacts__title {
    margin-bottom: 33px;
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 850px) {
  .contacts__title {
    margin-bottom: 42px;
    font-size: 20px;
    line-height: 23px;
  }
}

@media (max-width: 500px) {
  .contacts__title {
    font-size: 16px;
    line-height: 19px;
  }
}

.contacts__text {
  color: #000;
}

@media (max-width: 850px) {
  .contacts__text {
    margin-bottom: 36px;
  }
}

.contacts__phone a, .contacts__mail a {
  text-decoration: none;
  color: #000;
}

.contacts__phone:after, .contacts__mail:after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #710707;
  -webkit-transition: width .5s ease-in-out;
  transition: width .5s ease-in-out;
}

.contacts__phone:hover:after, .contacts__mail:hover:after {
  width: 100%;
}

@media (max-width: 850px) {
  .contacts__phone, .contacts__mail {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.contacts__address, .contacts__phone, .contacts__mail {
  margin-bottom: 25px;
}

@media (max-width: 1200px) {
  .contacts__address, .contacts__phone, .contacts__mail {
    margin-bottom: 13px;
  }
}

@media (max-width: 850px) {
  .contacts__mail {
    margin-bottom: 0;
  }
}

.contacts__maps {
  max-width: 960px;
  width: 100%;
}

@media (max-width: 1200px) {
  .contacts__maps {
    max-width: 694px;
    width: 100%;
  }
}

@media (max-width: 850px) {
  .contacts__maps {
    max-width: 728px;
    height: 476px;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .contacts__maps {
    max-width: 380px;
    height: 248px;
  }
}

.footer {
  padding-top: 88px;
  background-color: #030303;
}

@media (max-width: 1200px) {
  .footer {
    padding-top: 60px;
    font-size: 22px;
  }
}

@media (max-width: 850px) {
  .footer {
    padding-top: 45px;
  }
}

@media (max-width: 500px) {
  .footer {
    padding-top: 37px;
  }
}

.footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}

@media (max-width: 1200px) {
  .footer__header {
    padding-bottom: 47px;
  }
}

@media (max-width: 880px) {
  .footer__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 90px;
  }
}

@media (max-width: 850px) {
  .footer__header {
    padding-bottom: 34px;
  }
}

@media (max-width: 500px) {
  .footer__header {
    padding-right: 0;
  }
}

@media (max-width: 850px) {
  .header__logo-footer {
    padding-top: 4px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 850px) {
  .header__text-footer {
    padding: 0;
  }
}

@media (max-width: 500px) {
  .header__text-footer {
    margin-left: 20px;
  }
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
}

@media (max-width: 1200px) {
  .footer__left {
    width: 64%;
  }
}

@media (max-width: 880px) {
  .footer__left {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px;
  }
}

@media (max-width: 500px) {
  .footer__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 500px) {
  .footer__left {
    margin-bottom: 21px;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 51%;
  padding-bottom: 5px;
}

@media (max-width: 880px) {
  .footer__social {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__footer {
  border-top: 3px solid #666666;
}

@media (max-width: 850px) {
  .footer__footer {
    border-top: 1px solid #666666;
  }
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 48px 0;
}

@media (max-width: 850px) {
  .footer__inner {
    padding: 39px 0;
  }
}

.footer__text {
  font-weight: 200;
  letter-spacing: 2px;
}

@media (max-width: 570px) {
  .footer__text {
    font-size: 16px;
  }
  .footer__text:nth-child(2) {
    display: none;
  }
}

.social__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  padding-left: 0;
}

.social__items li {
  list-style-type: none;
}

.social__items li:first-child a {
  margin-left: 0;
}

.social__item {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  margin-left: 25px;
  text-decoration: none;
  border: 1px solid #666666;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: border-color .3s linear;
  transition: border-color .3s linear;
}

.social__item:hover {
  border-color: #9d8665;
}

.social__item:hover .social__icon {
  fill: #9d8665;
}

@media (max-width: 500px) {
  .social__item {
    margin-left: 5px;
  }
}

.social__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  fill: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: fill .2s linear;
  transition: fill .2s linear;
}

.social__yt {
  width: 23px;
}

.social__insta {
  width: 20px;
}

.social__fb {
  width: 12px;
}

.social__tw {
  width: 20px;
}

.social__pr {
  width: 20px;
}

.burger-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .burger-icon {
    display: block;
  }
}

.burger-icon.active .burger-icon__item:nth-child(2) {
  width: 0;
}

.burger-icon.active .burger-icon__item:first-child {
  -webkit-transform: rotate(45deg) translate(9px, 5px);
          transform: rotate(45deg) translate(9px, 5px);
}

.burger-icon.active .burger-icon__item:last-child {
  -webkit-transform: rotate(-45deg) translate(7px, -2px);
          transform: rotate(-45deg) translate(7px, -2px);
}

.burger-icon__item {
  display: block;
  width: 32px;
  height: 2px;
  margin-bottom: 6px;
  background-color: #ffffff;
  -webkit-transition: width .5s ease-in-out, -webkit-transform .5s linear;
  transition: width .5s ease-in-out, -webkit-transform .5s linear;
  transition: transform .5s linear, width .5s ease-in-out;
  transition: transform .5s linear, width .5s ease-in-out, -webkit-transform .5s linear;
}

.burger-icon__item:last-child {
  margin-bottom: 0;
}

.burger-menu {
  position: absolute;
  top: 34px;
  left: -50%;
  z-index: 999;
  width: 100%;
  padding: 0 55px;
  visibility: hidden;
  font-size: 20px;
  opacity: 0;
  -webkit-transition: visibility .7s linear, opacity .7s ease, left 1s ease-in-out;
  transition: visibility .7s linear, opacity .7s ease, left 1s ease-in-out;
}

.burger-menu.active {
  left: 0;
  visibility: visible;
  opacity: 1;
}

@media (max-width: 850px) {
  .burger-menu {
    left: 0;
    top: -100%;
    background-color: #030303;
    -webkit-transition: visibility .7s linear, opacity .7s ease, top 1s ease-in-out;
    transition: visibility .7s linear, opacity .7s ease, top 1s ease-in-out;
  }
  .burger-menu.active {
    top: 34px;
  }
}

.nav__list-burger {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav__link-burger {
  padding-left: 0;
  margin-bottom: 24px;
  font-weight: 300;
}

.nav__link-burger:after {
  position: absolute;
  left: 167px;
  z-index: 100;
  content: "›";
  display: inline-block;
  font-size: 30px;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.nav__link-burger:hover:after {
  color: #9d8665;
}

.burger-menu__images {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 33px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 850px) {
  .burger-menu__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 500px) {
  .burger-menu__images {
    padding-bottom: 20px;
  }
}

.burger-menu__image {
  width: 49%;
}

.burger-menu__image:first-child {
  margin-bottom: 20px;
  margin-right: 0;
  width: 100%;
}

.burger-menu__image:last-child {
  margin-right: 0;
}

@media (max-width: 500px) {
  .burger-menu__image {
    width: 33%;
    max-width: 95px;
    height: 95px;
  }
  .burger-menu__image:first-child {
    width: 33%;
    margin-bottom: 0;
  }
}

@media (max-width: 401px) {
  .burger-menu__image {
    max-width: 65px;
    height: 50px;
  }
}

.burger-social__items {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 35px;
}

@media (max-width: 850px) {
  .burger-social__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 500px) {
  .burger-social__items {
    padding: 24px;
  }
}
/*# sourceMappingURL=style.css.map */