// font-family: 'Forum', cursive;
// font-family: 'Roboto', sans-serif;

@import "var";
@import "mixins";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  
  color: $white;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
  font-size: $font2;
  font-weight: 300;

  @include bp(1200px) {
    font-size: 20px;
  }

  @include bp(850px) {
    font-size: 18px;
  }

  @include bp(500px) {
    font-size: 16px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, fieldset {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1480px;
}

input, a, button {
  outline: none;
}

// Arrow

.arrow {
  display: block;
  position: fixed;
  bottom: 10%;
  right: 5%;

  font-size: 50px;
  color: $dark-red;

  cursor: pointer;

  transform: rotate(-90deg);

  transition: all .5s linear;

  &:hover {
    color: $font-gold;
  }
}

// Blocks

@import "blocks/header";
@import "blocks/nav";
@import "blocks/section";
@import "blocks/btn";
@import "blocks/slider";
@import "blocks/visiting";
@import "blocks/explore";
@import "blocks/video";
@import "blocks/gallery";
@import "blocks/tickets";
@import "blocks/amount";
@import "blocks/form";
@import "blocks/parallax";
@import "blocks/contacts";
@import "blocks/footer";
@import "blocks/social";
@import "blocks/burger";