input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.amount__input {
  border: 0;
}

.amount__title {
  margin-bottom: 14px;

  @include bp(1200px) {
    margin-bottom: 10px;

    font-size: 22px;
  }

  @include bp(500px) {
    margin-bottom: 15px;

    font-size: 16px;
  }
}

.amount__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 150px;
  height: 50px;

  border: 3px solid $black;

  @include bp(1200px) {
    width: 174px;
    margin-bottom: 29px;
  }

  @include bp(850px) {
    margin-bottom: 25px;
  }

  @include bp(500px) {
    margin-bottom: 20px;
  }
}

.amount__items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.amount__input {
  width: 40%;
  display: inline-block;
  padding: 0;
  appearance: none;

  font-family: 'Roboto', sans-serif;
  font-size: $font2;
  font-weight: 300;
  text-align: center;

  &:focus {
    outline: none;
  }
}

.amount__total {
  margin-top: 41px;
  font-size: $font3;
  font-weight: 700;
  letter-spacing: 1.65px;

  @include bp(1200px) {
    width: 100%;
    margin-top: -5px;
    margin-bottom: 9px;
    text-align: left;

    span {
      padding-left: 15px;
    }
  }

  @include bp(850px) {
    margin-top: 13px;
    margin-bottom: 0;
  }

  @include bp(500px) {
    margin-top: 20px;

    font-size: 16px;
    letter-spacing: 0;
    text-align: center;

    span {
      padding-left: 5px;
    }
  }
}