.btn {
  display: inline-block;
  border: 0;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  background-color: $white;
}

.btn__welcome {
  font-size: $font2;
  text-decoration: none;
  color: $white;
  letter-spacing: 2px;
  line-height: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 26px 66px;

  background-color: $dark-red;
  border-radius: 10px;

  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: $font-gold;
  }

  @include bp(1200px) {
    font-size: 20px;
    line-height: 23px;
    padding: 19px 45px;
  }
  
  @include bp(850px) {
    display: none;
  }
}

.btn__amount {
  font-size: 32px;
  padding: 0 11px;
  width: 30%;

  background-color: $white;

  transition: background-color .2s linear;

  &:hover {
    background-color: #d6d6d6;
  }
}

.btn__tickets {
  margin-top: 60px;
  padding: 11px 37px;

  color: $white;
  font-weight: 300;
  font-size: $font2;
  letter-spacing: 2px;

  background-color: $black;
  border-radius: 2px;

  transition: background-color .2s linear, color .2s linear;
  
  &:hover {
    background-color: $font-gold;
    color: $black;
  }

  &:active {
    background-color: #7c6a50;
  }

  @include bp(850px) {
    margin-top: 40px;
  }

  @include bp(500px) {
    padding: 15px 49px;

    font-size: 16px;
  }
}

.btn__form_inner {
  padding: 0;
  width: 35%;

  font-size: 18px;
  color: $white;

  background-color: $black;

  
  &:hover {
    background-color: #4e4e4e;
  }
}

.btn__card {
  padding: 9px 86px;
  
  font-size: 22px;
  color: $white;
  font-weight: 400;
  line-height: 26px;

  background-color: $dark-red;

  transition: background-color .2s linear;

  &:hover {
    background-color: $font-gold;
  }
}

.btn__close {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1001;
  
  img {
    transition: transform .5s ease-in-out;
  }

  &:hover img {
    transform: rotate(180deg);
  }
}