.burger-icon {
  display: none;

  cursor: pointer;

  @include bp(1200px) {
    display: block;
  }

  &.active {
    .burger-icon__item {
      &:nth-child(2) {
        width: 0;
      }

      &:first-child {
        transform: rotate(45deg) translate(9px, 5px);
      }

      &:last-child {
        transform: rotate(-45deg) translate(7px, -2px);
      }
    }
  }
}

.burger-icon__item {
  display: block;
  width: 32px;
  height: 2px;

  margin-bottom: 6px;

  background-color: $white;
  
  transition: transform .5s linear, width .5s ease-in-out;

  &:last-child {
    margin-bottom: 0;
  }
}

.burger-menu {
  position: absolute;
  top: 34px;
  left: -50%;
  z-index: 999;

  width: 100%;
  padding: 0 55px;

  visibility: hidden;

  font-size: 20px;

  opacity: 0;

  transition: visibility .7s linear, opacity .7s ease, left 1s ease-in-out;

  &.active {
    left: 0;

    visibility: visible;
    opacity: 1;
  }

  @include bp(850px) {
    left: 0;
    top: -100%;

    background-color: $black;

    transition: visibility .7s linear, opacity .7s ease, top 1s ease-in-out;

    &.active {
      top: 34px;
    }
  }
}

.nav__list-burger {
  flex-direction: column;
}

.nav__link-burger {
  padding-left: 0;
  margin-bottom: 24px;

  font-weight: 300;

  &:after {
    position: absolute;
    left: 167px;
    z-index: 100;

    content: "›";
    display: inline-block;

    font-size: 30px;
    transform: translateY(-7px);

    transition: color .2s linear;
  }

  &:hover {
    &:after {
      color: $font-gold;
    }
  }
}

.burger-menu__images {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 10px;
  padding-bottom: 33px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  @include bp(850px) {
    display: flex;
  }

  @include bp(500px) {
    padding-bottom: 20px;
  }
}

.burger-menu__image {
  width: 49%;

  &:first-child {
    margin-bottom: 20px;
    margin-right: 0;

    width: 100%;
  }

  &:last-child {
    margin-right: 0;
  }

  @include bp(500px) {
    width: 33%;
    max-width: 95px;
    height: 95px;

    &:first-child {
      width: 33%;
      margin-bottom: 0;
    }
  }

  @include bp(401px) {
    max-width: 65px;
    height: 50px;
  }
}

.burger-social__items {
  display: none;
  justify-content: center;
  padding: 35px;

  @include bp(850px) {
    display: flex;
  }

  @include bp(500px) {
    padding: 24px;
  }
}