.contacts {
  display: flex;
  justify-content: space-between;

  height: 620px;

  @include bp(1200px) {
    height: 451px;
  }

  @include bp(850px) {
    display: block;
    height: 695px;
    
  }

  @include bp(500px) {
    height: 453px;
  }
}

.contacts__title {
  margin-bottom: 50px;

  font-size: 28px;
  font-weight: 500;
  line-height: 33px;
  color: #000;

  span {
    display: block;
  }

  @include bp(1200px) {
    margin-bottom: 33px;

    font-size: 24px;
    line-height: 28px;
  }

  @include bp(850px) {
    margin-bottom: 42px;

    font-size: 20px;
    line-height: 23px;
  }

  @include bp(500px) {
    font-size: 16px;
    line-height: 19px;
  }
}

.contacts__text {
  color: #000;

  @include bp(850px) {
    margin-bottom: 36px;
  }
}

.contacts__phone, .contacts__mail {

  a {
    text-decoration: none;
    color: #000;
  }

  &:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;

    background-color: $dark-red;

    transition: width .5s ease-in-out;
  }

  &:hover {

    &:after {
      width: 100%;
    }

  }

  @include bp(850px) {
    width: fit-content;
  }

}

.contacts__address, .contacts__phone, .contacts__mail {
  margin-bottom: 25px;

  @include bp(1200px) {
    margin-bottom: 13px;
  }
}

.contacts__mail {
  @include bp(850px) {
    margin-bottom: 0;
  }
}

.contacts__maps {

  max-width: 960px;
  width: 100%;

  @include bp(1200px) {
    max-width: 694px;
    width: 100%;
  }

  @include bp(850px) {
    max-width: 728px;
    height: 476px;
    margin: 0 auto;
  }

  @include bp(500px) {
    max-width: 380px;
    height: 248px;
  }
}