.explore {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include bp(1535px) {
    justify-content: center;
  }
  
}

.explore__about {
  width: 50%;
  max-width: 659px;

  @include bp(1535px) {
    max-width: 100%;
    width: 100%;

    margin-bottom: 47px;
  }
  
  @include bp(850px) {
    margin-bottom: 0;
  }
}

.explore__text {
  margin-top: 2px;
  line-height: 38px;

  p {
    margin-bottom: 26px;

    @include bp(1535px) {
      margin-bottom: 0;

      &:last-child {
        margin-bottom: 62px;
      }
    }

    span {
      color: #CAAA7D;
    }
  }

  @include bp(1200px) {
    margin-top: 0;
    line-height: 36px;

    p {
      &:last-child {
        display: none;
      }
    }
  }

  @include bp(850px) {
    display: none;
  }
}

.explore__img {
  position: relative;

  width: 50%;

  img {
    display: block;
    width: 100%;
    padding-top: 15px;
  }

  @include bp(1535px) {
    width: 100%;
    max-width: 720px;
  }

  @include bp(850px) {
    height: 705px;
    max-width: 100%;

    img {
      height: 100%;
      padding-top: 0;
    }
  }

  @include bp(750px) {
    height: fit-content;
  }

  @include bp(500px) {
    height: 100%;

    img {
      height: 100%;
      max-height: 368px;
    }
  }
}

.explore__slider {
  position: absolute;
  top: 0;
  left: 60%;
  z-index: 10;

  cursor: pointer;

  max-width: 39px;
  width: 100%;
  max-height: 715px;
  height: 100%;

  @include bp(1200px) {
    left: 58.5%;
  }

  @include bp(850px) {
    left: 58%;
  }
}