.social__items {
  display: flex;

  margin-left: 0;
  padding-left: 0;
  
  li {
    list-style-type: none;

    &:first-child {
      a {
        margin-left: 0;
      }
    }
  }
}

.social__item {
  position: relative;

  display: block;
  width: 48px;
  height: 48px;
  margin-left: 25px;

  text-decoration: none;

  border: 1px solid #666666;
  border-radius: 50%;

  text-align: center;

  transition: border-color .3s linear;

  &:hover {
    border-color: $font-gold;
  }

  &:hover .social__icon {
    fill: $font-gold;
  }

  @include bp(500px) {
    margin-left: 5px;
  }
}

.social__icon {
  position: absolute;
  top: 50%;
  left: 50%;

  fill: white;

  transform: translate(-50%, -50%);

  transition: fill .2s linear;
}

.social__yt {
  width: 23px;
}

.social__insta {
  width: 20px;
}

.social__fb {
  width: 12px;
}

.social__tw {
  width: 20px;
}

.social__pr {
  width: 20px;
}