.tickets {
  display: flex;
  color: $black;

  @include bp(715px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.tickets__img {
  max-width: 720px;
  width: 100%;
  height: 550px;
  background-position: center;
  background-size: cover;

  background-image: url("../assets/img/tickets/Rectangle.webp");

  @include bp(1200px) {
    max-width: 700px;
    height: 440px;
  }

  @include bp(850px) {
    max-width: 444px;
    height: 340px;
  }

  @include bp(715px) {
    width: 100%;
    max-width: 100%;
  }

  @include bp(500px) {
    height: 159px;
  }
}

.tickets__buy {
  display: flex;
  width: 100%;
  justify-content: space-between;

  @include bp(1200px) {
    width: 25%;
    margin-left: 81px;
  }

  @include bp(850px) {
    margin-left: 60px;

  }

  @include bp(715px) {
    width: 100%;
    justify-content: center;

    margin-top: 40px;
    margin-left: 0;
  }
}

.tickets__type {
  @include bp(1200px) {
    display: none;
  }
}

.tickets__text {
  font-size: $font3;
  font-weight: 700;

  @include bp(500px) {
    font-size: 16px;
  }
}

.tickets__text_buy {
  margin-bottom: 50px;
}

.tickets__text_amount {
  margin-bottom: 26px;

  text-align: right;

  @include bp(1200px) {
    text-align: left;
    margin-bottom: 28px;
  }

  @include bp(850px) {
    margin-bottom: 38px;
  }

  @include bp(715px) {
    text-align: center;
  }

  @include bp(500px) {
    margin-bottom: 20px;
  }
}

.tickets__inner {
  padding-left: 59px;

  fieldset {
    border: 0;
  }
}

.tickets__radio {
  position: relative;
  
  margin-bottom: 25px;
}

.tickets__radio_button {
  appearance: none;
  position: absolute;
  cursor: pointer;
}

.tickets__radio_label {
  padding-left: 41px;
  cursor: pointer;

  &:before {
    position: absolute;
    top: 4px;
    left: 0;
    z-index: 1;

    content: "";
    display: block;
    width: 17px;
    height: 17px;

    border: 2px solid $black;
    border-radius: 50%;
  }

  &:after {
    position: absolute;
    top: 9px;
    left: 5px;
    z-index: 2;

    content: "";
    display: block;
    width: 7px;
    height: 7px;

    background-color: $black;
    border-radius: 50%;
    opacity: 0;

    transition: opacity .3s ease-in-out;
  }
}

.tickets__radio_button:checked + .tickets__radio_label:after {
  opacity: 1;
}
